#chat-container {
  overflow: hidden;
  display: flex;
  gap: 0;
  margin-top: 5px;
	width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 20px;
  position: relative;
}

#chat-name {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 10px;
  background: rgba(var(--theme-r), var(--theme-g), var(--theme-b), 0.3);
  backdrop-filter: blur(5px);
  padding: 10px;
  user-select: none;
	opacity: 1;
	transform: translateX(0);
	transition: left 1s ease;
}

#chat-name:empty {
	left: -100%;
}

#container:has(#header #tabs #messages.selected) #chat-container #chat-box {
  animation: zoom 0.2s ease;
  display: flex;
}

#container:has(#header #tabs #chats.selected) #chat-container #chat-sidebar {
  animation: zoom 0.2s ease;
  display: flex;
}

body:has(#header #tabs #chats.selected) #notifications {
	display: none;
}

#chat-sidebar {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  user-select: none;
  transition: opacity 0.2s ease;
}

#sidebar-title {
  font-weight: 600;
  font-size: 20px;
}

#chat-rooms,
#chat-people {
  overflow-y: scroll;
  direction: ltr;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 5px;
	overflow-x: hidden;
}

#chat-room-container {
  display: flex;
  align-items: center;
  gap: 5px;
  height: fit-content;
  flex: 1 1;
}

#chat-room {
  position: relative;
	width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 1000;
  letter-spacing: 1px;
  padding: 10px;
  cursor: pointer;
  background: rgba(var(--theme-r), var(--theme-g), var(--theme-b), 0.05);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition:
    background 0.2s ease,
    border-radius 0.2s ease;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#chat-room:hover {
  background: rgba(var(--theme-r), var(--theme-g), var(--theme-b), 0.2);
}

#chat-room div {
  z-index: 1;
}

#chat-room-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: rgba(var(--theme-r), var(--theme-g), var(--theme-b), 0.6);
  opacity: 0;
  transition: opacity 0.2s ease;
}

#room-name {
  display: block;
	width: calc(100% - 50px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#unread {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	padding: 2px;
	background: #000;
	border-radius: 50%;
	transition: background 0.2s ease;
}

#unread #dot {
  position: absolute;
	width: 15px;
	height: 15px;
  background: rgb(255, 60, 60);
  border-radius: 50%;
	animation: pulse 2s infinite;
}

#unread #ping {
	position: absolute;
  opacity: 0.8;
	width: 15px;
	height: 15px;
	background: radial-gradient(transparent, rgb(255, 60, 60), transparent);
	border-radius: 50%;
  animation: ping 2s ease infinite;
}

#chat-box {
  position: relative;
  display: none;
  flex: auto 1 1;
  flex-direction: column;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  transition: background 0.2s ease;
}

#chat-messages {
  height: 100%;
	overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: opacity 0.2s ease;
  padding-left: 10px;
  padding-right: 10px;
}

#loading {
  margin-top: 5px;
}

#typing {
  opacity: 0;
  transition: opacity 0.2s ease;
  overflow: hidden;
  font-size: 12px;
  margin-bottom: 5px;
	height: 15px;
}

a {
  color: #0000ff;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  #chat-sidebar {
    border-bottom-right-radius: 20px;
  }

	#chat-rooms, #chat-people {
		grid-template-columns: auto;
	}

  #chat-box {
    border-bottom-left-radius: 20px;
  }

  #chat-room {
		width: 100%;
    height: fit-content;
  }

	#unread, #unread #ping {
		width: 10px;
		height: 10px;
	}
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"),
    local("OpenSans"),
    url("https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2")
      format("woff2");
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
		animation-timing-function: ease;
	}
	50% {
		transform: scale(1);
		animation-timing-function: ease;
	}
	100% {
		transform: scale(0.8);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
}

@keyframes ping {
	0% {
		transform: scale(0.8);
	}
	80%, 100% {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes zoom {
  0% {
    display: flex;
    transform: scale(0.8) translateY(20%);
    opacity: 0;
  }
  100% {
    display: flex;
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
