#settings-container {
  position: relative;
  display: none;
  flex: auto 1 1;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
  overflow-y: scroll;
  transition: background 0.2s ease;
  scroll-snap-type: y mandatory;
  padding-bottom: 100px;
}

#container:has(#header #tabs #settings.selected) #settings-container {
  animation: zoom 0.2s ease;
  display: flex;
}

#settings-user {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#settings-username {
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  background: rgba(var(--bg-a1), var(--bg-a1), var(--bg-a1), 1)
    linear-gradient(
      90deg,
      rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1),
      rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1),
      rgba(var(--bg-r), var(--bg-g), var(--bg-b), 0.2),
      rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1),
      rgba(var(--bg-r), var(--bg-g), var(--bg-b), 1)
    )
    0% 100% / 300% 300% repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s linear infinite;
  --bg-r: 0;
  --bg-g: 0;
  --bg-b: 255;
  --bg-a1: 0;
  transition:
    --bg-r 0.2s ease,
    --bg-g 0.2s ease,
    --bg-b 0.2s ease,
    --bg-a1 0.2s ease;
}

body.dark #settings-username {
  --bg-a1: 255;
}

#settings-user #profile {
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
}

#settings-user #profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#settings-user #profile #edit-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.2s ease;
}

#settings-user #profile #edit-profile:hover {
  opacity: 1;
}

#settings-user #profile #edit-profile svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
  transition: transform 0.2s ease;
}

#settings-user #profile #edit-profile:hover svg {
  transform: scale(1.2);
}

#settings-title {
  font-size: 24px;
  font-weight: bold;
}

#settings-title.large {
  font-size: 32px;
  padding: 10px;
  scroll-snap-align: start;
}

#settings-title.small {
  font-size: 24px;
  padding: 10px;
}

#settings-content {
  padding: 10px;
}

#settings-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-left: 10px;
  scroll-snap-align: end;
}

#settings-box:not(:first-child) {
  border-top: 2px solid #ccc;
  margin-top: 20px;
}

#settings-box span {
  font-size: 0.8rem;
}

.settings-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  border: dashed 4px rgba(var(--r), var(--g), var(--b), 0.5);
  background: rgba(150, 150, 150, 0.1);
  padding: 10px;
  border-radius: 10px;
  user-select: none;
  transition: border 0.2s ease;
}

.settings-form .settings-button {
  width: fit-content;
  margin-left: auto;
}

.settings-checkbox-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.settings-checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1.8px solid #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.settings-checkbox:hover {
  background: rgba(150, 150, 150, 0.2);
}

body:not(.dark) .settings-checkbox {
  border-color: #000;
}

.settings-checkbox::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition:
    transform 0.1s ease,
    background 0.2s ease;
}

.settings-checkbox:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

body:not(.dark) .settings-checkbox:checked::after {
  background: #000;
}

.settings-option-title {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.settings-option-title svg {
  width: 20px;
  height: 20px;
}

.settings-button {
  padding: 10px;
  border-radius: 10px;
  background: rgba(150, 150, 150, 0.2);
  color: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease;
}

.settings-button:disabled {
  background: rgba(150, 150, 150, 0.1);
  color: #666;
  cursor: not-allowed;
}

.settings-button:not(:disabled):hover {
  background: rgba(150, 150, 150, 0.4);
}

.settings-button.logout:not(:disabled):hover {
  background: rgba(150, 0, 0, 0.4);
}

.settings-toggle {
  width: 40px;
  height: 20px;
  border: 1.8px solid #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.2s ease;
}

.custom-emojis {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 0;
  padding-right: 10px;
  user-select: none;
}

.custom-emojis .emoji {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 10px;
  background: rgba(150, 150, 150, 0.2);
  cursor: pointer;
  transition: background 0.2s ease;
}

.custom-emojis .emoji:not(:has(.delete:hover)):hover {
  background: rgba(150, 150, 150, 0.4);
}

.custom-emojis .emoji .delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(150, 150, 150, 0.4);
  cursor: pointer;
  transition: background 0.2s ease;
}

.custom-emojis .emoji .delete svg {
  width: 15px;
  height: 15px;
}

.custom-emojis .emoji:hover .delete:hover {
  background: rgba(150, 150, 150, 0.6);
}

.input-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.settings-text {
  max-width: 100%;
  overflow: hidden;
}

.settings-text input {
  width: 100%;
}

.settings-input {
  padding: 10px;
  border-radius: 10px;
  background: rgba(150, 150, 150, 0.2);
  color: inherit;
  transition: background 0.2s ease;
}

.settings-input:focus {
  background: rgba(150, 150, 150, 0.4);
}

body:not(.dark) .settings-toggle {
  border-color: #000;
}

body:not(.dark) .settings-toggle-circle {
  background-color: #000;
}

.settings-toggle:hover {
  background: rgba(150, 150, 150, 0.2);
}

.settings-toggle.active {
  background-color: rgba(var(--r), var(--g), var(--b), 0.8);
  border-color: transparent;
}

.settings-toggle.active:hover {
  background-color: rgba(var(--r), var(--g), var(--b), 1);
}

.settings-toggle-circle {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transform: scale(0.8);
  transition: all 0.2s ease;
}

.settings-toggle:hover .settings-toggle-circle {
  transform: scale(1);
}

.settings-toggle.active .settings-toggle-circle {
  transform: translateX(20px) scale(0.8);
}

.settings-toggle.active:hover .settings-toggle-circle {
  transform: translateX(20px) scale(1);
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dropdown svg {
  width: 20px;
  height: 20px;
}

.dropdown .select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(150, 150, 150, 0.2);
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease;
}

.dropdown .select:hover {
  background: rgba(150, 150, 150, 0.4);
}

.dropdown .select .arrow {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.dropdown .select:has(.options.active) .arrow {
  transform: rotate(180deg);
}

.dropdown .options {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: max-content;
  min-width: 100%;
  background: rgba(150, 150, 150, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 0;
  transition:
    max-height 0.2s ease,
    top 0.2s ease,
    bottom 0.2s ease;
}

.dropdown .options.active {
  max-height: 200px;
}

.dropdown.up .options {
  top: auto;
  bottom: 100%;
}

.dropdown .option {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  transition: background 0.2s ease;
}

.dropdown .option:hover {
  background: rgba(150, 150, 150, 0.1);
}

.dropdown .option.selected {
  background: rgba(150, 150, 150, 0.4);
}

.dropdown .option.hidden {
  display: none;
}

.dropdown .submenu {
  display: hidden;
  overflow: hidden;
  overflow-y: scroll;
}

.dropdown .submenu.active {
  display: block;
}

.dropdown .submenu .option {
  display: none;
  text-align: left;
}

.dropdown .submenu.active .option {
  display: block;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 300% 0%;
  }
}

@media screen and (max-width: 600px) {
  .custom-emojis .emoji {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }
}
