#voice-container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 5px;
	height: 100%;
	max-height: 90%;
}

#main-cont {
	overflow: hidden;
	display: grid;
	grid-template-columns: 100% 0;
	width: 100%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	transition: grid-template-columns 0.2s ease;
}

#main-cont.toggled {
	grid-template-columns: calc(100% - 300px) 300px;
}

#controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

#people-container {
	overflow: hidden;
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: 1fr;
	gap: 5px;
	width: 100%;
	height: 100%;
}

#people-container:has(#person:nth-child(n + 2)) {
	grid-template-columns: 50% calc(50% - 5px);
}

#people-container:has(#person:nth-child(n + 3)) {
	grid-template-columns: 33% 33% calc(34% - 10px);
}

#people-container:has(#person:nth-child(n + 4)) {
	grid-template-columns: 25% 25% 25% calc(25% - 15px);
}

#person {
	background: rgba(var(--theme-r), var(--theme-g), var(--theme-b), 0.3);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;
}

#person video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#person #profile {
	font-size: 30px;
	width: 70px;
	height: 70px;
	padding: 4px;
	border-radius: 70px;
}

#person #profile img {
	width: 70px;
	height: 70px;
	border-radius: 70px;
}

#control-bar {
	padding: 5px;
	background: rgba(var(--theme-r), var(--theme-g), var(--theme-b), 0.2);
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	user-select: none;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	position: relative;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#toggle-cam, #toggle-mic, #leave-voice, #toggle-chat {
	padding: 10px;
	width: 20px;
	height: 20px;
	max-width: 20px;
	max-height: 20px;
	min-width: 20px;
	min-height: 20px;
	background: rgba(var(--theme-r), var(--theme-g), var(--theme-b), 0.5);
	border-radius: 30px;
	transition: background 0.2s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#toggle-cam:hover, #toggle-mic:hover, #toggle-chat:hover {
	background: rgba(var(--theme-r), var(--theme-g), var(--theme-b), 0.6);
}

#leave-voice {
	background: rgba(255, 0, 0, 0.8);
}

#leave-voice:hover {
	background: rgba(255, 0, 0, 0.9);
}

#toggle-chat {
	margin-top: auto;
	margin-bottom: auto;
}

svg {
	color: white;
	width: 20px;
	height: 20px;
}

#divider {
	width: 2px;
	height: 20px;
	background: gray;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	border-radius: 2px;
}

.left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#online {
	display: flex;
	border-radius: 32px;
	padding: 2px;
	padding-left: 27px;
	margin-top: -10px;
	margin-bottom: -10px;
	transition: background 0.2s ease, width 0.2s ease;
}

#online:empty {
	display: none;
}

#online #profile, #online #profile img {
	font-size: 14px;
	width: 30px;
	height: 30px;
}

#online #bg {
	position: relative;
	background: black;
	border-radius: 50%;
	margin-left: -25px;
	transition: margin 0.2s ease, background 0.2s ease;
	cursor: pointer;
}

#online #bg:not(:first-child):hover {
	margin-left: 2px;
}

#online #bg:not(:last-child):hover {
	margin-right: 27px;
}

#chat-messages {
	height: 90%;
	max-height: 90%;
	width: calc(100% - 0);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	transition: opacity 0.2s ease;
	padding-left: 10px;
	padding-right: 10px;
}

#chat-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#loading {
	margin-top: 5px;
}

#chat-message {
	width: 100%;
	max-width: 100%;
	display: flex;
	gap: 5px;
}

@media screen and (max-width: 700px) {
	#person #profile {
		font-size: 20px;
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}
	
	#person #profile img {
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}

	#people-container {
		grid-template-columns: 100%;
	}

	#people-container:has(#person:nth-child(n + 2)) {
		grid-template-columns: 100%;
	}
	
	#people-container:has(#person:nth-child(n + 3)) {
		grid-template-columns: 50% calc(50% - 5px);
	}

	#people-container:has(#person:nth-child(n + 4)) {
		grid-template-columns: 33% 33% calc(34% - 10px);
	}
}